h1.title {
    color: rgb(11, 142, 165);
}

.success {
    color: green;
}

.warning {
    color: orange;
}

.danger {
    color: red;
}

.test-element {
    margin-top: 15px;
    width: 200px;
    padding: 5px 10px;
    text-align: center;
}

.dark {
    color: white;
    background-color: black;
}

.shadow {
    box-shadow: 5px 5px lightblue;
}

.rounded {
    border-radius: 25px;
}